.memeGenerator {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(115deg, #021F4B, #4C3B71, #11526B);  
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.memeContainer {
  position: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.memeImage {
  width: 100%;
  max-width: 600px;
  height: 100%;
  border-radius: 8px;
  margin: auto;

}

.memeTextTop {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #000000;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}

.memeTextBottom {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px #000000;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
}

.memeInput {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.memeBtn {
  color: white;
  padding: 20px 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(115deg, #ED8DC4, #C850A7, #892578, #513153, #583B71);  
}

