.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-item.done .todo-text {
  text-decoration: line-through;
  color: gray;
}

.todo-text {
  flex-grow: 1;
  margin: 0;
}

.todo-buttons {
  display: flex;
  gap: 10px;
}

.done-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.done-button.unDone {
  background-color: orange;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}