body {
    font-family: 'Poppins', sans-serif;
    background: #9CAF88;
    background-image: radial-gradient(#D2B48C 1px, transparent 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #patate {
    width: 100px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
  }